[2016-06-21 20:48] neomerx opened #1 "On data seeding 'created_at' attribute is not stored"
Works locally but not on DO demo server. Must be a data format issue.

[2016-06-21 21:35] neomerx opened #2 "On migration create database function for dates converstion"
It just looks too ugly (and probably it's slower) to see in SELECT something like

[code]

[2016-06-21 21:36] neomerx opened #3 "Add token auth"

[2016-06-21 21:37] neomerx opened #4 "Add authorizations"
Same as in shot and collins

[2016-06-21 21:37] neomerx opened #5 "Add data validations on save"

[2016-06-21 21:38] neomerx opened #6 "Add limitations for paths inclustions"
Otherwise selects could be very big

[2016-06-21 21:41] neomerx opened #7 "Add docker as in shot/collins + similar instructions"

[2016-06-21 21:42] neomerx opened #8 "Release and update json-api refs"

[2016-07-25 20:05] #8 closed, assigned to neomerx

[2016-07-25 20:05] #1 closed, assigned to nobody

[2016-07-25 20:06] #5 closed, assigned to neomerx

[2016-07-25 20:06] #7 closed, assigned to neomerx

[2016-07-26 19:21] #3 closed, assigned to neomerx

[2016-07-30 08:58] neomerx opened #9 "Move validation messages to `resources` folder"

[2016-08-23 17:03] neomerx opened #10 "Update to latest lib versions and best practices"
As you can see it's not precisely defined :smile:

I work with other JSON API related projects and sometimes have good ideas which worth implementing in flute.

[2016-08-23 17:13] #10 closed, assigned to neomerx

[2016-08-24 09:35] neomerx opened #11 "Add soft deletes support"

[2016-08-24 09:39] #11 closed, assigned to neomerx

[2016-08-24 09:47] neomerx opened #12 "Migration fails on `_migrations` table creation"
On some systems the following error occurs

[code]

The way to fix it is changing `class VARCHAR(256)` to 255

[2016-08-24 09:50] #12 closed, assigned to neomerx

[2016-08-24 13:28] neomerx commented on #9
fixed

[2016-08-24 13:28] #9 closed, assigned to neomerx

[2016-08-24 14:25] #2 closed, assigned to neomerx

[2016-08-25 11:22] neomerx opened #13 "Add support for database configs for charset and specific driver options"

[2016-08-25 11:23] #13 closed, assigned to neomerx

[2016-08-26 15:16] neomerx opened #14 "Make environment file name configurable"
Currently it uses default `.env`

It would be nice to have an ability to change it via environment variable **for example**

[code]

[2016-09-27 03:11] neomerx opened #15 "Refactor database support in tests"
limoncello-php/framework#21

[2016-09-27 03:12] #14 closed, assigned to neomerx

[2016-09-27 03:12] #15 closed, assigned to neomerx

[2016-10-03 10:25] neomerx opened #16 "Add `related` links"
Add `related` links to Schemes and routes.

When we send to client relationship info as a URL EmberJS tries to download actual data from `related` links so the app have to provide ones.

[2016-10-04 06:44] ghost opened #17 "Add support for sorting and filtering based upon relationship attributes"
It would be nice to add support for sorting and filtering based upon relationship attributes.

[2016-10-04 18:42] neomerx commented on #17
That's possible. Will require attention to details but possible.

There are 2 major parts
- Syntax and syntax parser for such requests
- Actual SQL builder

The SQL builder should consider 3 types of relationships that exists
- belongsTo
- hasMany
- belongsToMany

belongsTo and hasMany would require JOINing 1 table. The tricky part is aliasing those tables. However it's already done for belongsToM

[2016-10-05 01:30] ghost commented on #17
yes. I have already done the part 'belongsTo' of sorting in my local forked copy.

I am editing the the part of QueryParameterParser, SortParameterInterface and SortParameter in neomerx/json-api and Respository in limoncello-php/json-api.

I think it would be good if official repository supports it.

[2016-10-05 11:21] ghost commented on #17
these are the part i edited:

[code]

[2016-11-03 01:34] ghost opened #18 "validating $toManyRules throws DriverException and PDOException"
UserValidator:

     .....
        $toManyRules    = [
            Schema::REL_USER_ENTRIES => $this->userEntryId(),
        ];
     .....
        list (, $attrCaptures, $toManyCaptures) =
            $this->assert($schema, $json, $idRule, $attributeRules, $toOneRules, $toManyRules);

     .....
    private function userEntryId()
    {
        return $this->dbId(UserEntry::TABLE_NAME, UserEntry::F

[2016-11-03 16:33] neomerx commented on #18
You haven't posted full example so I can only guess. I think you probably didn't specify table name for model
![image](https://cloud.githubusercontent.com/assets/10420662/19975217/39a58916-a1fc-11e6-82a6-7361e3844ec1.png)

You should also check you have linked model with its schema
![image](https://cloud.githubusercontent.com/assets/10420662/19975267/60780c80-a1fc-11e6-9714-b7e44a09693c.png)

Let

[2016-11-03 17:02] neomerx commented on #18
I've added additional checks for input parameters such as table name and primary key so it would be easier to spot the issue earlier.

[2016-11-04 01:34] ghost commented on #18
Full UserEntry Model:
<?php namespace App\Database\Models;

use App\Database\Types\DateTimeType;
use Doctrine\DBAL\Types\Type;
use Limoncello\JsonApi\Models\RelationshipTypes;

/**
- Class UserEntry
- @package App\Database\Models
  */
  class UserEntry extends Model
  {
  const TABLE_NAME = 'user_entries';
  const FIELD_ID = 'id_user_entry';

  const
      REL_USER = 'user';

  const
      FIELD_I

[2016-11-04 01:35] ghost commented on #18
checked that TABLE_NAME was presented.

[2016-11-04 02:26] neomerx commented on #18
I will try to replicate the sample from the parts above however it would be easier if you published a project that reproduces the error. No need for the whole real project. Just the minimal part.

[2016-11-04 02:46] neomerx commented on #18
What confuses me in your log is this line

Absence of table name. It does not have even quotes however [source code for inserts](https://github.com/limoncello-php/json-api/blob/master/src/Adapters/Repository.php#L246) ([and this one](https://github.com/limoncello-php/json-api/blob/master/src/Adapters/Repository.php#L145) as well) says it must have at least quotes even if table name is empty. This

[2016-11-04 03:10] neomerx commented on #18
Another thing I've spotted in your code you mistakenly uses `HAS_MANY` instead of `BELONGS_TO_MANY` for `user-entries` relationship. You can find a usage example [here](https://github.com/limoncello-php/json-api/blob/master/tests/Data/Models/Comment.php#L91-L98).
I believe that's the reason of the error. I'll think how it could be diagnosed earlier so the package would throw meaningful exception i

[2016-11-04 03:11] ghost commented on #18
but the users and user-entries are a one-to-many relationship.
is it correct to use belongs-to-many as the relationship?

[2016-11-04 04:15] neomerx commented on #18
If so it's incorrect to save such entries while creating new user. How is this possible you already have user entries but do not have the user? You should create user and then create user entries. Otherwise what it should mean then? It looks like belongsToMany relationship.

[code]

I've added code which would check that every belongsTo must have hasMany on the other side and vice versa. It will h

[2016-11-04 05:50] neomerx commented on #18
Also I believe it should be

[code]

but not `UserEntry::FIELD_ID`

[2016-11-04 06:02] neomerx commented on #18
You also send in input `user-status` which do not have any corresponding relationship neither in Schema nor in Model. I believe it should JsonApiException on validation for non-existing relationships. Well at least latest version should do which for some reason is not the case for your installation. Hmm...

[2016-11-04 07:27] #18 closed, assigned to neomerx

[2016-11-14 15:42] medbenhenda opened #19 "Bad argument type in Exception/JsonApiHandler to construct a JsonApiResponse"
Class : App\Exceptions\JsonApiHandler
Method: private function handle
Variable: $corsHeaders
the current code is:
[code]

but in some case the result of $container->get(CorsStorageInterface::class)->getHeaders() is null.

As result

Then we  construct a JsonApiResponse with the thirs vaariable  $corsHeaders which is null , but the onstructor requires that the third argument should be an array

 `$

[2016-11-14 18:46] neomerx commented on #19
Thanks for found bug. Interface `CorsStorageInterface` has method for checking headers but it practically does the same thing as your proposal.
I've added fix and some tests to cover `handle` method.

[2016-11-14 18:48] #19 closed, assigned to neomerx

[2016-11-14 18:48] #16 closed, assigned to neomerx

[2017-06-07 14:16] neomerx commented on #4
Hi,

- make sure you've got the latest version of both application and the framework.
- add breakpoint/var_dump/etc at `\App\Authorization\UserRules::canManageUsers`.
- run test `\Tests\UserApiTest::testDelete`.

![image](https://user-images.githubusercontent.com/10420662/26883165-03b8d8a0-4ba5-11e7-808d-2f6dc5e9a96c.png)

[2017-06-07 14:19] neomerx commented on #4
Don't forget to send authentication header/token with your requests. Without the token, your requests will not be authenticated and therefore some actions might not be authorized.

[2017-06-08 02:15] dreamsbond commented on #4
hi,

yes i do send proper authentication header/token with my request and returning authorization "access_token".

![image](https://user-images.githubusercontent.com/26112605/26909066-03e2dbfa-4c31-11e7-9611-a4eff92f484e.png)

The problem was in create and update, specifically in Users, index and read in Users were fine. Posts, Comments and Boards were all just fine.

![image](https://user-images.

[2017-06-08 13:03] dreamsbond commented on #4
running UsersApiTest with injecting var_dump in canManageUsers of UsersRule does return true;
but postman on create user keep returning false;

OK (6 tests, 38 assertions)
root@cfa0103a6ee6:/limoncello-php# ./vendor/bin/phpunit ./tests/UserApiTest.php
PHPUnit 5.7.20 by Sebastian Bergmann and contributors.

Runtime:       PHP 7.0.18
Configuration: /limoncello-php/phpunit.xml

...bool(true)
.bool(tr

[2017-06-09 11:05] neomerx commented on #4
@dreamsbond so the problem is that create/update users works in tests but fails with Postman, right?

[2017-06-09 11:47] dreamsbond commented on #4
@neomerx  yes

[2017-06-09 12:14] neomerx commented on #4
@dreamsbond make sure you do not have any extra spaces between 'Bearer' and token value. It must be exactly one space.
Though the app should correctly respond to such invalid requests with 401 code.

I just tried to create a user from Postman and it worked fine.

1 receive token
![image](https://user-images.githubusercontent.com/10420662/26974905-1f737316-4d26-11e7-89aa-e9f4b9f245c2.png)

2 send P

[2017-06-09 12:34] dreamsbond commented on #4
@neomerx i would like to ask, what will happen if a same user login twice or above?
there they got two tokens

[2017-06-09 12:37] neomerx commented on #4
@dreamsbond Yes, if you request 2 tokens you will get 2 tokens.

[2017-06-09 13:03] dreamsbond commented on #4
@neomerx i am sure i have latest commit checked out. but to ensure if i got something wrong. i have checkout . again and composer l:db rollback && composer l:db migrate && l:db seed again to make everything in original state. and i double checked if i got unwanted space in putting the access_token in request. the result was "yes", it works now !!

[2017-06-09 23:29] neomerx commented on #4
@dreamsbond I just pushed changes addressing the issue with double space you had. The app should behave more consistently and return 401 HTTP error for an invalid token.

[2017-06-12 23:51] neomerx commented on #5
[code]

PHP Warning:  copy(.env.example): failed to open stream: No such file or directory in Command line code on line 1
PHP Stack trace:
PHP   1. {main}() Command line code:0
PHP   2. copy() Command line code:1

[2017-06-13 10:54] neomerx commented on #4
Fixed in `develop` branch.

[2017-06-17 11:08] neomerx commented on #6
I think the `best` way to handle constraint violation error is application specific. One of the ways is to catch the exception and transform it into JSON API error with a message 'The resource cannot be deleted.' or something similar.

[2017-06-17 13:06] neomerx commented on #7
@dreamsbond There are 2 issues here. One is yours and one is mine :smile:

You have a string as an input value and validate it as a DateTime which predictably fails.
Instead, you have to have your validation rules something like
[code]
and the rule itself
[code]
Instead of `$this->success()` you're likely to have some range check for your dates.

As for mine error, I haven't implemented proper par

[2017-06-17 16:12] neomerx commented on #7
fixed in `0.6.15`

Don't hesitate to contact me if you have any further questions.

[2017-06-17 18:09] neomerx commented on #6
@dreamsbond [limoncello-flute](https://github.com/neomerx/limoncello-flute) has no code from this application. Next week this repo will be replaced with limoncello-flute under name `app`. Just FYI so you won't get confused.

[2017-06-18 19:32] #4 closed, assigned to neomerx

[2017-06-19 10:30] dreamsbond opened #20 "composer test-unit with phpdbg result in "PHP Fatal error: Allowed memory size of 134217728 bytes exhausted""
I am currently experiencing a problem while running composer test-unit which was running
"phpdbg -qrr ./vendor/bin/phpunit --coverage-text"

it results in
[PHP Fatal error:  Allowed memory size of 134217728 bytes exhausted (tried to allocate 65536 bytes) in /limoncello-php/vendor/limoncello-php/core/src/Reflection/ClassIsTrait.php on line 145]
[PHP Fatal error:  Allowed memory size of 134217728 by

[2017-06-19 11:18] neomerx commented on #20
You should update memory limit for PHP in `php.ini`
[code]

[2017-06-19 11:18] #20 closed, assigned to neomerx

[2017-06-20 13:46] dreamsbond opened #21 "is it capable to return user identity information via the /token authentication endpoint?"
other than standard attribute from oauth2
is it capable to return user identity information via the /token authentication endpoint

beside,
is a /revoke endpoint available?

[2017-06-21 09:08] neomerx commented on #21
Not sure if I got your question however you can get current account/user from container with
[code]
passport has some predifined user properties such is `identity` howerver it also has all user properties which could be accessed with `getProperty()`
[code]
![image](https://user-images.githubusercontent.com/10420662/27375746-ccee0528-5678-11e7-9e31-4275ab05133d.png)

As for `/revoke` endpoint, ther

[2017-06-21 09:24] dreamsbond commented on #21
with createBodyTokenResponse in BasePassportServer, token information returned as
{
    "access_token": "b0e6c4c9933236439101c55e90a52154594a2f0913d5d",
    "token_type": "bearer",
    "expires_in": 3600,
    "refresh_token": "2796b9cace09892ee2ec56ac9dc8781e594a2f0913d98",
    "scope": "manage_users"
}

i am thinking if it could return corresponding user identity information like:
{
    "id_user"

[2017-06-21 11:46] neomerx commented on #21
Added feature https://github.com/limoncello-php/framework/issues/52

[2017-06-21 12:11] neomerx commented on #21
It needs some extra functionality in `Passport` module. I've added preliminary implementation which I'm planning to finalize later today.

[2017-06-21 14:49] dreamsbond opened #22 "managing scopes via database level (idea)"
i am thinking if it would be good to manage (crud) scopes via database level.

as adding new scope require assignScope with constant define in passport settings and seed it in passport seed.

what do you think?

[2017-06-22 00:04] neomerx commented on #21
While testing the code I've found a way to improve the code so finalizing takes a bit more.

[2017-06-22 01:18] neomerx commented on #21
`Passport` settings could have a methods for adding extra properties
[code]

[2017-06-22 01:19] neomerx commented on #21
added to 0.6.17
I'm closing the question. Feel free to contact if you have any further questions.

[2017-06-22 01:19] #21 closed, assigned to neomerx

[2017-06-22 01:23] dreamsbond commented on #21
noted ^^

[2017-06-22 01:23] neomerx commented on #22
I don't fully understand what do you mean by 'manage scopes via database level.'
Passport has an API that works with a database with CRUD support. `create` is used in the seeder.

[2017-06-22 04:04] dreamsbond commented on #22
I mean putting the way of assigning scope not only by seeder, but by some endpoint like '/scope' to manipulate the crud action

[2017-06-22 08:45] neomerx commented on #22
I actually have it implemented in and it's not difficult to do. However, it requires adding JSON API Schemes and HTTP entry points not defined by the OAuth spec and some authorization rules that are also application specific. Many things that really are not related.
I thought of adding it to default application however due to those factors I had a feeling it would be too much opinionated code int

[2017-06-22 08:52] neomerx commented on #22
I've added it to `Ideas` section https://github.com/neomerx/limoncello-flute/projects/1

[2017-06-22 08:52] #22 closed, assigned to neomerx

[2017-06-22 08:58] neomerx commented on #22
@dreamsbond However I would it a go as console commands. I would accept a PR from you to limoncello framework with CRUD commands for OAuth Clients (+Redirect URIs) and Scopes.
As a console command, it has no requirements to JSON API, HTTP entry points, and authorization (assuming only admins can run it). So it's much easier implement.

[2017-06-22 09:03] neomerx commented on #22
that's an example of a command that does migration and seeding https://github.com/limoncello-php/framework/blob/master/components/Application/src/Commands/DataCommand.php
and that's the way to register it https://github.com/limoncello-php/framework/blob/master/components/Application/src/Packages/Application/ApplicationProvider.php#L42-L48

[2017-06-22 09:06] neomerx commented on #22
Let me know if you try to add it. I can provide you with more assistance.

[2017-06-22 10:05] dreamsbond commented on #22
Noted. I will try to add it.

[2017-06-22 11:04] neomerx commented on #22
Role-Scopes link is outside of this scope. It's very app specific. I've added some basic role-based auth system to give a perspective of how it works so people can adopt it for their own needs.

[2017-06-22 11:12] dreamsbond commented on #21
tried and tested:

        assert($customPropsProvider === null || $this->checkPublicStaticCallable(
            $customPropsProvider,
            [ContainerInterface::class, TokenInterface::class],
            'array'
        ));

failed at the point of $customPropsProvider === null and checkPublicStaticCallable

[2017-06-22 11:14] neomerx commented on #21
@dreamsbond check the method signature. This line ensures the method must have 2 **typed** parameters and **typed** return type as `array`.

[2017-06-22 11:17] dreamsbond commented on #21
@neomerx yes, having the method typed return as array resolved the issue.
but asserting $customPropsProvider === null failed

[2017-06-22 11:19] dreamsbond commented on #21
@neomerx keep telling ErrorException: assert(): assert($customPropsProvider === null) failed

[2017-06-22 11:19] neomerx commented on #21
@dreamsbond it does not have a check for signature **AND** `null`. It checks either for `null` **OR** for a method with the proper signature.

[2017-06-22 11:21] dreamsbond commented on #21
it is quite rare to me.....
after i tried composer dump-autoload

the issue gone..........

[2017-06-27 18:54] neomerx commented on #17
Filtering by IDs in relationships was added. Filtering by other attributes in relationships as an idea was moved to `projects` of the framework https://github.com/limoncello-php/framework/projects/5

[2017-06-27 18:54] #17 closed, assigned to nobody

[2017-07-12 08:40] benny-innofaith opened #23 "Composer create-project does not work"
Reproducible steps:
[code]

Expected result:
Some file structure is created without error.

Actual result:
[code]

[2017-07-12 21:27] neomerx commented on #23
I accidently broke some GitHub project settings. Now it's fixed and project creation should work.

[2017-07-13 07:41] benny-innofaith commented on #23
I have confirmed this problem is fixed.

[2017-07-13 07:41] #23 closed, assigned to neomerx

[2017-08-15 11:30] dreamsbond opened #24 "Authorization on single resource"
I have a scenario where user may access only certain record which are related to their user id.
it is capable to do so on editing,
but how about on viewing single resource.

and is it capable to do it on all resources but only returns record related to the users as a collection?

thanks

[2017-08-15 13:04] neomerx commented on #24
You have more than one way how to deal with it. The way I do is the following:
- Require a user to be authenticated for viewing any records (`index` and `read` methods).
- On API level take current user ID and change an SQL query so the result includes rows visible for the given user ID.

Default CRUD implementation has method `builderOnIndex` which is called just before execution of the SQL query

[2017-08-16 11:19] #6 closed, assigned to neomerx

[2017-08-16 11:20] neomerx commented on #24
@dreamsbond let me know it the explanation was sufficient

[2017-08-17 07:30] dreamsbond commented on #24
@neomerx checking on whether i could bring the current user into the the api

[2017-08-17 08:26] neomerx commented on #24
OK, let's use the sample app as a base.

Have a look at [the line](https://github.com/limoncello-php/app/blob/master/app/Json/Api/PostsApi.php#L64) where it requires current use to have `view` permission. The actual permission check to be executed is [this](https://github.com/limoncello-php/app/blob/master/app/Authorization/PostRules.php#L40-L45).

You can modify the permission check and require t

[2017-08-18 09:00] dreamsbond commented on #24
@neomerx your explanation are sufficient, thanks.
btw, i got another issue, a use case of having conditional select for not only user id in api, but also its relationship (e.g. group of user)

I preliminary write a sql statement selecting the user's group id and add to the conditional select in api.
is it a proper approach to do so?

[2017-08-18 09:03] dreamsbond opened #25 "New Validation Ruleset on update"
Having looked into the new validation ruleset implementation of 0.7.x,
i found that there was a problem differentiate the unique of record.

i used to implement like this in previous version:

    protected function name($index = null): RuleInterface
    {
        $primaryKey = $index === null ? $index : [Model::FIELD_ID, $index];

        $maxLength = Model::getAttributeLengths()[Model::FIELD_NAM

[2017-08-18 09:48] dreamsbond commented on #25
@neomerx i think i found the solution, the UniqueInDbTableSingleWithDoctrine in ExistInDatabaseTrait ...

[2017-08-18 09:49] neomerx commented on #25
From 0.6.x to 0.7.x the validation component was changed most. Now it's more fixable and faster.

Now back to your question. As far as I understand you wish to check input data on create/update and make sure that one of the input attributes is
- is string
- is no longer than X symbols
- is unique in the database

[2017-08-18 09:52] neomerx commented on #25
@dreamsbond As an example I've modified rule `\App\Json\Validators\Rules\UserRules::firstName`

[code]

[2017-08-18 09:53] dreamsbond commented on #25
@neomerx ya, the new ruleset was very useful for better isolation and separation on validation.

what i would like to do is bypass the uniqueness checking on update for the use case of having the same entry (e.g. name) during update causing validation errors in most case

[2017-08-18 09:53] neomerx commented on #25
2 rules? `uniqueName` and `name`?

[2017-08-18 09:55] neomerx commented on #25
What I'm proud about the new validation is that it's cacheable and while validation it also transforms (e.g. string to DateTime) and captures the data. So it's fast and efficient.

[2017-08-18 09:56] dreamsbond commented on #25
@neomerx ya. i think so. i was not aware of doing in 2 rules way like uniqueName and name.

[2017-08-18 09:58] dreamsbond commented on #25
another question about the validation message, i used to make custom message by this way:
by override the constructor:

    public function __construct(ContainerInterface $container, $jsonType, $rules, $errorStatus = JsonApiResponse::HTTP_UNPROCESSABLE_ENTITY)
    {
        parent::__construct($container, $jsonType, $rules, $errorStatus);

        $container[TranslatorInterface::class] = function

[2017-08-18 09:58] neomerx commented on #25
The idea of having separate rules is reusability. Typically rules are very similar for `create` and `update`. Though in `create` they are usually `required` but in `update` not.

[2017-08-18 10:03] neomerx commented on #25
`L10n` is a new feature as well. Now you can have messages in many locales.

If you want to have custom errors you typically add [new error code](https://github.com/limoncello-php/app/blob/master/app/Json/Validators/Rules/AppErrorCodes.php#L11) and [corresponding message](https://github.com/limoncello-php/app/blob/master/resources/messages/en/Limoncello.Flute.Validation.php#L8).

[2017-08-18 10:07] neomerx commented on #25
If you want to get those messages you can get `\Limoncello\Contracts\L10n\FormatterFactoryInterface` from container. It has methods for getting messages in specific or default locale. Currently, validation uses default locale but it shuldn't be difficult to add `locale` propery to current user and use it.

[2017-08-18 10:31] dreamsbond commented on #24
@neomerx and also, is it possible to bring in:

    protected static function isAdministrators(ContextInterface $context): bool
    {
        $isAdministrators = false;

        if (($userId = self::getCurrentUserIdentity($context) !== null)) {
            $container = self::ctxGetContainer($context);
            $factory = $container->get(FactoryInterface::class);
            $api = $factory->cre

[2017-08-18 10:59] neomerx commented on #24
There is a better way to check the current user properties. The logged in user already has all the properties loaded. Try to experiment in `\App\Json\Api\PostsApi::create` it has some usefull methods already
![image](https://user-images.githubusercontent.com/10420662/29456148-16c0aba2-841d-11e7-8305-9ed8ad58d07f.png)

and you can take all user properties like this
![image](https://user-images.gith

[2017-08-18 15:44] neomerx commented on #24
@dreamsbond I've added [documentation for authorization](https://github.com/limoncello-php/framework/blob/master/docs/Authorizations.md).

[2017-08-18 15:54] dreamsbond commented on #24
@neomerx thanks and really helpful. It makes me have a better understanding on the usage of the framework. Thanks again!^^

[2017-08-20 14:11] neomerx commented on #24
@dreamsbond I've added [descriptions](https://github.com/limoncello-php/framework/tree/master/docs) for Request-Response lifecycle, container, and settings. I hope it provides a better understanding of how limoncello application works. Feel free to ask questions and propose changes to the documentation.

[2017-08-22 05:13] dreamsbond opened #26 "Usage of Validator"
@neomerx is it possible to have documentation for validator usage?
as i think i was not very familiar with the part doing conversion, e.g.: stringtoadateline, etc...
having some custom validation logic,  but cant find entry point of gettings values from request and making it usable on validator

[2017-08-22 05:17] dreamsbond commented on #26
also having some problem validating datetime.

e.g.:
self::isDateTime(self::stringToDateTime(DateTimeBaseType::JSON_API_FORMAT));
with ISO8601 dateformat e.g "2016-10-01T00:00:00+0000" fails in test and return

    [items:Neomerx\JsonApi\Exceptions\ErrorCollection:private] => Array
        (
            [0] => Neomerx\JsonApi\Document\Error Object
                (
                    [idx:Neomerx

[2017-08-22 05:19] dreamsbond commented on #26
as well as self::isInt(self::stringtoInt());

[2017-08-22 08:22] neomerx commented on #26
Can you post a few examples you've got difficulties with?

JSON API Validator parses a JSON API document and validates it looks like a valid one. Then it passes actual string values to validatation rules. As a developer you describe your rules in  `JsonApiRuleSetInterface` which contains rules for such JSON API document parts as `id`, `type`, individual `attributes` and individual `relationships`.

[2017-08-22 08:55] dreamsbond commented on #26
i did some tests:
with json input as below:

            $jsonInput = <<<EOT
        {
            "data" : {
                "type"  : "submissions",
                "id"    : null,
                "attributes": {
                    "dateline": "2017-01-01T00:00:00+0000",
                    "present": "true"
                }
            }
        }
EOT;

in SubmissionRules:

i put the rules as

[2017-08-22 09:05] dreamsbond commented on #26
for belongs to relationship

i saw
        return self::required(self::toOneRelationship(BoardScheme::TYPE, BoardRules::isBoardId()));

is the self::required compulsory?

[2017-08-22 09:14] dreamsbond commented on #26
some updates:

it was abit rare that, i re-run the test.

with:

    /**
     * @return RuleInterface
     */
    public static function dateline(): RuleInterface
    {
        return self::stringToDateTime(DateTimeBaseType::JSON_API_FORMAT);
    }

it throws:

ErrorException: strlen() expects parameter 1 to be string, object given

[2017-08-22 09:19] neomerx commented on #26
for your input
[code]

rules should be

[code]
adding `v::requied` makes input field mandatory (will produce an error if not given)

If you post an example for relationships I can help you with it as well

[2017-08-22 09:25] dreamsbond commented on #26
that means if stringToXX present. isXXX is not required to be chained right?

[2017-08-22 09:28] dreamsbond commented on #26
thanks @neomerx, the boolean and integer part were also solved with you guidance of using proper chaining.

but the datetime part wasn't solved yet.
it keep throwing "ErrorException: strlen() expects parameter 1 to be string, object given"

[2017-08-22 09:28] #25 closed, assigned to neomerx

[2017-08-22 09:32] neomerx commented on #26
`isXXX` almost never needed for JSON API inputs. It's for other validators. In JSON API you've got strings as inputs so after stringToXXX you always have the correct type.
As for `stringToDateTime` I don't see it uses `strlen`. Can you please provide more details in input data and the rule itself?

[2017-08-22 09:39] dreamsbond commented on #26
[code]

[2017-08-22 09:42] dreamsbond commented on #26
[code]

[2017-08-22 09:44] neomerx commented on #26
And rules?

[2017-08-22 09:44] dreamsbond commented on #26
[code]

[2017-08-22 09:45] dreamsbond commented on #26
[code]

[2017-08-22 09:48] dreamsbond commented on #26
The description field is mapped to LONGTEXT in mysql;
i used isString() for validation

[code]

[2017-08-22 09:50] neomerx commented on #26
so far seems fine. What about `SubmissionCreate` and `SubmissionUpdate`?

[2017-08-22 09:53] dreamsbond commented on #26
[code]

[2017-08-22 09:54] dreamsbond commented on #26
[code]

[2017-08-22 09:55] dreamsbond commented on #26
[code]

[2017-08-22 10:00] dreamsbond commented on #26
i runned the test again,
[code]

it was rare again,
the dateline doesn't throw "ErrorException: strlen() expects parameter 1 to be string, object given" now.
also, as you see the "display-order" should throw exception but it doesn't

[2017-08-22 10:03] neomerx commented on #26
Can you provide stack for 'strlen() expects parameter 1 to be string, object given'?

display-order will not produce any error. For PHP 'AAA' is a valid input to convert it to int. It can be checked for numeric but let's do it later. The 'strlen' error first.

[2017-08-22 10:04] dreamsbond commented on #26
@neomerx let me try reproduce it.

[2017-08-22 10:07] dreamsbond commented on #26
[code]

[2017-08-22 10:10] neomerx commented on #26
Aha, so it passes validation but fails on saving the value to the database...

[2017-08-22 10:18] dreamsbond commented on #26
[code]

[2017-08-22 10:23] neomerx commented on #26
I think it should be an error in `\Limoncello\Flute\Types\JsonApiDateTimeType::convertToDatabaseValue`

Can you try to replace it with the following?

[code]

[2017-08-22 10:33] dreamsbond commented on #26
yes. replaced with your snippet and the issue gone

[2017-08-22 10:44] neomerx commented on #26
as for display order try to add `isNumeric` check

[code]

[2017-08-22 10:58] dreamsbond commented on #26
i have two more concerns.
for nullable text validation
i used to do it like this:
[code]
in case of a integer with default value (or anything default numeric with default value)
[code]
is it a proper way?

for hasMany relationship
is there any guideline for proper validation?

[2017-08-22 11:14] neomerx commented on #26
`description` looks fine.

If you don't use `required` then 2 options are fine: valid input and no input. If you use `required` the value has to be provided and it should be valid. So if no `required` used some default value in database should be used.

Built-in `hasMany` expect all values to have the same type. It would be complicated to support many types (and corresponding validators for ids) t

[2017-08-22 11:40] dreamsbond commented on #26
[code]
and
[code]
seems does validate properly

in case of the following input:

[code]
with minimum length of name in model:
[code]
and maximum length of name

[code]
in Validator "LessonCreate"
[code]

the test throws correctly
[code]
as "Mathematics" already exists
but in case of another lesson name which do not exists in the database, say "Geo Science"

it throws:

[code]
i think it would be t

[2017-08-22 12:34] neomerx commented on #26
You've found another bug :tada:

In `\Limoncello\Validation\Rules\Comparisons\StringLengthBetween::__construct` line 39
[code]
should be replaced with
[code]

[2017-08-22 12:37] neomerx commented on #26
all fixes will be published later this week

[2017-08-22 12:51] dreamsbond commented on #26
i have originally a scenario on validator:
- validate field with database for duplicate entry (check uniqueness) on CREATE; e.g.: name
- validate field with database for duplicate entry (check uniqueness) on UPDATE, excluding the record itself  which is editing; e.g.: name

for previous version of limoncello-php/app

i used a dirty hack in BaseAppValidator;

snippets:

[code]
[code]
on 0.7.x forwa

[2017-08-22 13:12] neomerx commented on #26
so for `Create` it works fine for you now. No probs here.

As for `Update` I can see a few possible ways to solve the problem.

a) Do not check uniqueness of the name on update. Intercept the captured data between Validation and API and make additional check (or add the check to API level)
b) Put to app container index of the resource and add custom Validation rule that uses that value (it has an

[2017-08-22 13:23] dreamsbond commented on #26
i tried to do it in a custom validator like 'isUpdateUniqueRule'
but finally found no where to capture the index :(.. sad

ya, i think option b would be easier for me to do

[2017-08-22 13:37] neomerx commented on #26
b) is not a bad option it's just not universal. You can ping me at the end of the week I might have something for c).

I'm working on implementing validation for the publishing process. This involves different rules depending on the input data, validation of combined input data and data stored in the database. I hope something good may come out of this for more generic use.

[2017-08-22 13:51] dreamsbond commented on #26
the procedure would be:
- create an configurator inside container folder
- put get / set method
- make it accessible in controller update
- and use it with custom validator

am i correct?
btw, what is the convention of putting my own custom class?

[2017-08-22 14:08] dreamsbond commented on #26
i mean , is there any convention on where to put my own custom class

[2017-08-22 14:13] neomerx commented on #26
there are no special requirements for placing custom rules. You can put it near to custom rule example `\App\Json\Validators\Rules\IsEmailRule`.

[2017-08-22 17:34] dreamsbond commented on #26
the option b works; though it was not really perfect at the moment. but i can really feel the power of container wise capability!!!

[2017-08-24 15:14] dreamsbond opened #27 "FluteSettings static::KEY_RELATIONSHIP_PAGING_SIZE does not reflect in the JsonApi"
@neomerx I found the captioned does not reflect in the JsonApi

[2017-08-24 16:09] neomerx commented on #27
I can look closer this weekend.

[2017-08-25 03:39] dreamsbond commented on #27
in the meantime, i think is it possible to make MAX_LIMIT_SIZE accessible to the FluteSetting?

[2017-08-27 19:50] neomerx commented on #26
@dreamsbond After some working on a bigger project I came to a conclusion that it's better to move some validator files around and structure them a bit different. It will provide a better manageability in the long run.
Here is a [new layout/structure](https://github.com/limoncello-php/app/tree/master/app/Json/Validators).
The key change to make it work in sub-folders is [this line](https://github.

[2017-08-27 20:20] neomerx commented on #27
@dreamsbond I added the following line
[code]
[here](https://github.com/limoncello-php/app/blob/master/settings/JsonApi.php#L38) and got 10 records [here](https://github.com/limoncello-php/app/blob/master/tests/CommentApiTest.php#L26)

For me it seems to work. Where do you have the issue?

[2017-08-28 02:01] dreamsbond commented on #27
@neomerx i do the same, it turns out that the static::KEY_RELATIONSHIP_PAGING_SIZE in config folder does not override the DEFAULT_LIMIT_SIZE of 20 in pagination strategy

[2017-08-28 02:13] dreamsbond commented on #27
static::KEY_RELATIONSHIP_PAGING_SIZE applies to the

[code]
while without changing the  MAX_LIMIT_SIZE in PaginationStrategy
[code]

i found no effect on having page size to, say a 10000 to return the whole collection

[2017-08-28 09:50] neomerx commented on #27
I found an issue with selecting min/max for page size. Can you try it with [updated strategy](https://github.com/limoncello-php/framework/blob/develop/components/Flute/src/Adapters/PaginationStrategy.php)?

[2017-08-29 11:06] neomerx commented on #27
@dreamsbond would appreciate your feedback

[2017-08-29 13:30] dreamsbond commented on #27
@neomerx sorry for late reply, feel unwell these days.
will try it out and get you back very soon.

[2017-08-30 13:12] dreamsbond commented on #27
@neomerx the static::KEY_RELATIONSHIP_PAGING_SIZE does finally reflect properly.

but another question is that, the MAX_LIMIT_SIZE of 100 was not accessible via FluteSettings

it only limits to a max size of 100 records to return no matter how i change the value of static::KEY_RELATIONSHIP_PAGING_SIZE;

besides, for relationships like .../user/1/relationships/posts. is it capable to do the same wa

[2017-08-30 13:15] dreamsbond opened #28 "relationship record were not protected"
@neomerx i just found issues, not sure if it is.

for general usage, all resources are protected by the authorization rules accordingly

but i found in case of checking out the relationship
say http://localhost:8088/api/v1/users/34/relationships/posts

the protection was bypassed, and without any unauthorized exception return

[2017-08-30 13:16] dreamsbond commented on #27
or is it capable to make an default global options for assigning the numbers of records return?

[2017-08-30 15:57] neomerx commented on #27
@dreamsbond nice idea to add MAX_LIMIT_SIZE as a setting

[2017-08-30 16:54] neomerx commented on #28
Added authorization checks in reading relationships. Changes in 1 commit so you can see how to adapt it to your application.

[2017-08-30 16:54] #28 closed, assigned to neomerx

[2017-08-30 17:16] dreamsbond commented on #28
@neomerx i see, it wasn't an issue. only an application logic.
i didn't think of having such implementation before for relationship.
thanks

[2017-08-30 17:57] neomerx commented on #27
added to `develop` branch. Will be released today/tomorrow.

[2017-08-30 18:09] neomerx commented on #27
merged to `master`

[2017-08-30 18:17] #27 closed, assigned to neomerx

[2017-09-11 03:57] dreamsbond opened #29 "Add validation for query parameters."
@neomerx a very small issue just found for filtering boolean.

the filtering only identify and accept 1 instead of "true"  as parameter,
having "true" as parameter will not properly return correct set of collection

while either 0 or false has no problem.

[2017-09-11 07:00] dreamsbond opened #30 "assert(static::isValidType($value) === true)"
@neomerx i am refactoring my existing validation to your new ruleset style.
having problem doing test:

assert(): assert(static::isValidType($value) === true) failed

i have no idea yet. any glue?

[2017-09-11 08:35] neomerx commented on #29
@dreamsbond This functionality is actually covered [with tests](https://github.com/limoncello-php/framework/blob/master/components/Validation/tests/RulesTest.php#L155) and [seems to work](https://github.com/limoncello-php/framework/blob/master/components/Validation/tests/RulesTest.php#L171).

Can you please post a sample you have the problem with?

[2017-09-11 08:42] neomerx commented on #30
This is an assertion within `Validation` library. It is used in multiple places but all for checking input value is a `scalar`.
Most likely you're trying to use a validation rule for a `scalar` (e.g. bool, int, float, string, etc) with non-scalar input (e.g. array, DateTime or null). Can you debug the line and see what is inside `$value`?

[2017-09-11 16:08] dreamsbond commented on #30
it was string string(5) "users" on var_dump($value)

[2017-09-11 16:23] dreamsbond commented on #29
i am having a model 'task';

[code]

with test:

[code]

the result gave also records including compuslory = false

[2017-09-11 17:50] neomerx commented on #29
Aha. Query parameters. I thought of inputs for create/update. Currently, query parameters are not validated/sanitized.
I think it might have some sort of validation though not as strict as for create/update as we don't care about lengths/min/max/etc.
Not sure what exactly it should be at the moment but I have a feeling this issue is closer to enhancement rather than a bug.

[2017-09-11 17:54] neomerx commented on #30
Hmmm.... "users" is a scalar so assert(is_scalar("users") === true) must be pass without problems. Are you sure it fails with this input?

[2017-09-12 01:42] dreamsbond commented on #30
yes it all returns string...
let me check again

[2017-09-12 01:43] dreamsbond commented on #29
@neomerx  inputs for create/update seems ok.
let me recheck again

[2017-09-13 02:53] dreamsbond opened #31 "readResource in class Crud"
having follow your guideline implementing something like canViewXXX
i wrote a isUsers method in RuleTrait for checking corresponding role
i found:
[code]
the var_dump($user) was not showing the user model, instead it show "NULL" as result.

[2017-09-13 10:47] neomerx commented on #31
@dreamsbond It might need some debugging from you. Are you sure you should use `$identity` instead of `$userId`?
[code]
Also, if you want to check a property of the current user you don't have to load it again. It's already  loaded and accessible via
[code]

[2017-09-13 10:51] neomerx commented on #30
let me know if you still have this issue and it needs to be re-opened.

[2017-09-13 10:51] #30 closed, assigned to neomerx

[2017-09-13 14:54] dreamsbond commented on #31
@neomerx
i will have a try on it ^^

[2017-09-18 09:11] dreamsbond commented on #31
after couple of trial.
confirmed the identity have proper returns.

[2017-09-18 09:13] dreamsbond opened #32 "using 3rd party libraries with Container"
@neomerx i have a use case using the 3rd party libraries PHPExcel for exporting excel sheet(s)
currently i have no idea how it could work with the container and non-CRUD routes.

could you give some hints?

[2017-09-18 20:57] neomerx commented on #32
Firstly have a look at [a sample](https://github.com/limoncello-php/app/tree/master/app/Container)

So the easiest would be
[code]
then anywhere you can get PHPExcel from container with `$container->get(PHPExcel::class)`

However *much* better would be adding an interface specific to your app such as

[code]
Response is a possible candidate and you should decide which is better for you. I think Re

[2017-09-18 21:16] neomerx commented on #32
As far as I can see from [this example](https://github.com/PHPOffice/PHPExcel/blob/1.8/Examples/01simple-download-xls.php) the only tricky part how can you convert this
[code]
into a PSR Response?

This is out of Limoncello scope however my thoughts could be helpful for you:
- headers should not be a problem it's a standard PSR feature
- `$objWriter->save('php://output');` It probably can be conve

[2017-10-16 03:32] dreamsbond opened #33 "single point of api authentication and authorization for multiple application"
@neomerx i come to a situation that i wish to facilitate a single point of api authentication and authorization for multiple applications, like booking rooms app and booking lessons app, etc ...

firstly, i think this would be achieved by setting up multiple client ids as like as:
[code]
and seeding multiple clients by:

[code]
in a single forked limoncello-php/app
is it a correct way?

secondly,

[2017-10-16 07:27] neomerx commented on #33
First things first. Do you have / plan to have separate applications or a single one that is used by various clients (browser, mobile app, etc)? Or in other words, should it be a single database or multiple instances?
From your description, it could be both.

[2017-10-16 07:45] dreamsbond commented on #33
generally, i plan to have a single point of user authentication and authorization.
where multiple applications (browser, mobile app) share single point of checkpoint, with different roles and scope.

[2017-10-16 07:50] dreamsbond commented on #33
i have a single application making use of limoncello/app currently,
housing users, rooms and lessons information at one place.
and with authentication and authorization as well.

[2017-10-16 13:26] neomerx commented on #33
As far as I understand you have a single app with a single database.

Let's see it with an example.
- Suppose a user has permissions: `can_do_ thing1`, `can_do_thing_2`, ..., `can_do_thing_n`
- The API could be used from web app which uses `login-password` for authentication and can use all user permissions.
- The API could be used from a mobile app as well. Apart from the web client it does not r

[2017-10-16 13:34] dreamsbond commented on #33
does current limoncello-php/app facilitates the GET /authorize and redirects, what i read the codes, seems yes.

but any kind procedures to follow?

besides,

i was a bit struggle about, having the authentication separated, the users database will be somehow obsolete. because user details may change from time to time.

[2017-10-16 13:40] neomerx commented on #33
Yes, limoncello fully supports OAuth 2.0 spec. Just try to send those requests and see how it reacts.

Not sure I understand this. Are you talking about some sync issues? I have a feeling you're planning to have more than one users database despite we have discussed it will be single database.

[2017-10-16 13:47] dreamsbond commented on #33
erm..
still one single users database;
but what about, say:
- booking rooms / lessons require user details as well? users collection may still required;
- what if adding a new user or user changes their user information?

[2017-10-16 14:01] neomerx commented on #33
Do you mean sync information in the database with what a user sees in a browser?

I see 2 solutions:
- The user gets updates on page refresh (periodic or when the user presses F5 or clicks a link or 'refresh' button)
- The server sends updates to clients so they quickly become synced with the server.

The second approach, of course, is more advanced and will require more development on both sides.

[2017-10-16 14:49] dreamsbond commented on #33
so that means, a database level sync may require.

[2017-10-16 14:53] dreamsbond commented on #33
let me try summaries:

- seed various client ids and corresponding scopes on users authentication and authorization endpoint;
- remove seeding passport on corresponding applications;
- keep corresponding users table in applications;
- make users database sync with a application users (2 apporachs)
is it correct?

[2017-10-16 15:29] neomerx commented on #33
So the first question would be 'How to set up seeding for 2 clients (`web` with permissions ... and `mobile` with default permissions ...)?' Right?

[2017-10-16 15:31] dreamsbond commented on #33
yes.. sorry that i do not explain well

[2017-10-17 05:40] neomerx commented on #33
Add new client (PassportSeed.php)
[code]
Result
![image](https://user-images.githubusercontent.com/10420662/31648438-658f17a0-b316-11e7-8f9b-2d45a6caef34.png)
![image](https://user-images.githubusercontent.com/10420662/31648456-8123b2be-b316-11e7-8045-ccf912d7419d.png)
![image](https://user-images.githubusercontent.com/10420662/31648473-997371f6-b316-11e7-839c-dc9a4dc2dd89.png)

Good?

[2017-10-18 06:09] dreamsbond commented on #33
thank you so much @neomerx. i will try it out!

[2017-11-01 07:20] dreamsbond opened #34 "Too many open files"
Hi,

I had update limoncello-php/app via composer.
after completing update, i found there was an issue running composer test with:

[code]

not sure should i ignore such warning..

[2017-11-01 07:44] dreamsbond commented on #33
@neomerx seems that i can not run the OAuth Code Grant to work. it keep returns "Internal Server Error"
besides,

I started thinking of
- having separate applications sharing same OAuth and Passport component.
- how to bridge them up and implement?

thanks

[2017-11-01 07:47] neomerx commented on #34
I sometimes also got such message. It means that number of open files exceeds OS limit which is on my machine is rather low (1024). In this case I just double it with `$ ulimit -n 2048` which is also rather a low limit but enough for me.

[2017-11-01 08:36] dreamsbond commented on #34
@neomerx yea. the 1024 was still low. 2048 works for me

[2017-11-01 08:39] neomerx commented on #33
For me, of course, it's easier to help you identify a cause of 500 error than discussing architecture without knowing much about requirements and specifics.
Speaking of debugging the app, I recently updated limoncello to 0.8 version which includes numerous improvements in error handling and some fixes in OAuth. So we can go this route. What do you think?

[2017-11-01 09:00] #34 closed, assigned to neomerx

[2017-11-01 09:21] dreamsbond commented on #33
as thread opens, i came to a situation, say a necessity for a single application share different scopes to various clients (browser, mobile app, etc..)
you guided me to define different oauth client housing different scopes for different application usages.
i tried out and solved.

now, i come to another problems that:
1. to my understanding, i added a route to facilitate the prompt and accept acc

[2017-11-01 10:04] neomerx commented on #33
do you mean have 1 database for more than one app? Technically no problem.

[2017-11-01 10:10] dreamsbond commented on #33
yes. 1 database for more than one app

[2017-11-01 10:11] dreamsbond commented on #33
like one single endpoint of oauth, and multiple application get authorization from it

[2017-11-01 13:43] neomerx commented on #33
sure. An application sends a request with auth token. The server just looks a table for this token and knows the associated user.
If you ask a more specific question such as 'I have done this, now I'm doing this and need help with that' it would be easier to help.

[2017-11-01 14:54] dreamsbond commented on #33
sorry for causing you troubles :-(

[2017-11-01 14:56] dreamsbond commented on #33
how to get it done?

[2017-11-02 11:04] dreamsbond opened #35 "limoncello app on subfolders usage"
i am going to put multiple apps on a single subdomains, i.e api.domain.com;

where each subfolder house corresponding limoncello app like:
api.domain.com/school1/subschool1/...
where api endpoint api.domain.com/school1/subschool1/v1/users... etc...

i did some adjustment on nginx like

[code]

is it a right approach to bring up limoncello app on subfolder usage ?

[2017-11-02 13:14] neomerx commented on #33
you can request [TokenRepositoryInterface](https://github.com/limoncello-php/framework/blob/master/components/Passport/src/Contracts/Repositories/TokenRepositoryInterface.php) from a container and find the token.

so it might be something like

[code]

[2017-11-02 13:19] neomerx commented on #35
As far as I understand you have a single database for your users. If so why not having a single domain for API as well?

[2017-11-02 15:14] dreamsbond commented on #35
got it. yea. sounds like it was redundant.
btw,
suppose a single database for users exists (that was a  limoncello-php/app)
and application for api (crud operation, that was another limoncello-php/app)

- how do the application for api be authenticated? as the application for api do not hold the token information, and;
- how do single database for users to authorise application?

they are entirely

[2017-11-03 06:02] neomerx commented on #35
They both can work with the same database. Both apps can share some tables (e.g. users) and have their own ones. Auth tokens could be issued by any of them or both. As they share users and tokens a token will work for both apps.

[2017-11-03 08:28] dreamsbond commented on #35
how to set up?

[2017-11-03 08:47] neomerx commented on #35
![image](https://user-images.githubusercontent.com/10420662/32365891-d4cb5894-c08c-11e7-9222-7bbfe6cb1ca3.png)

[2017-11-06 01:21] dreamsbond commented on #35
noted. let me try it out and namespace the table to differentiate.

[2017-11-06 01:23] dreamsbond commented on #35
this approach was good. but as more applications created. more different namespaced table will be store on same database. will it be a confusion and lack of isolation?

[2017-11-06 05:27] neomerx commented on #35
You're asking about a very generic topic of software solutions design. My response was a **sample** high-level design for your requirement of having monolith solution.

[2017-11-06 06:07] dreamsbond commented on #35
ya. agree :p

[2017-11-06 06:20] dreamsbond commented on #35
could i define two group of database setting in limoncello-app?

[2017-11-06 07:37] neomerx commented on #35
I think the easiest way would be adding custom config(s) and create database `Connection` objects out them.

[2017-11-06 08:35] dreamsbond commented on #35
i see, so would have to add custom setting via class Doctrine and .env

[2017-11-06 11:01] dreamsbond opened #36 "processing images upload and validation"
is there any place we would handle the images upload and validation via move_uploaded_file()?

[2017-11-06 11:13] dreamsbond commented on #36
a standardize place, via WebRoute Controller?

[2017-11-06 19:46] neomerx commented on #36
That's standard for PSR7. I think you should have a look at the spec [here](http://www.php-fig.org/psr/psr-7/#16-uploaded-files) and [here](http://www.php-fig.org/psr/psr-7/#36-psrhttpmessageuploadedfileinterface) for a method `moveTo`.

[2017-11-07 01:21] dreamsbond commented on #36
thanks. so the processing upload file will still be better implemented in ApiRoute Controllers, right?

[2017-11-07 04:27] neomerx commented on #36
Yes, you start handling the `$request` in a controller. Whether you fully handle it in the controller making it `fat` or split the logic with API level would be your application design choice.

[2017-11-07 12:18] dreamsbond opened #37 "Sorting relationship only works with Filtering"
i got an error while performing relationship sorting:
query = /api/v1/users?sort=role.id
[code]

while

query = api/v1/users?sort=-role.id&filter[role.id][in]=admin,moderator,user

correctly returns collection

[2017-11-07 14:26] neomerx commented on #37
0.7.x or 0.8.x?

[2017-11-07 14:35] dreamsbond commented on #37
framework ^0.8.0

[2017-11-07 14:36] dreamsbond commented on #37
the where clause was ()

[2017-11-07 17:24] #37 closed, assigned to neomerx

[2017-11-07 17:27] neomerx commented on #37
Should be closed in the latest update. Plz make sure you have deleted `vendor` folder before the update.

[2017-11-08 01:08] dreamsbond commented on #37
yes. the issue was fixed.

[2017-11-08 01:09] dreamsbond commented on #37
i saw the operator '=' was no longer usable, instead operator 'eq' was mandatory, is operator '=' obsolete now?

[2017-11-08 04:14] neomerx commented on #37
Not at all
'=' supported with 'eq'. Here is the [code for mapping](https://github.com/limoncello-php/framework/blob/master/components/Flute/src/Http/Query/ParametersMapper.php#L419-L473)
It might be an issue with encoding where '=' is actually send as '%3D' though

[2017-11-08 04:32] neomerx commented on #37
I deleted the previous post as this issue needs a bit more time to look into

[2017-11-08 04:40] neomerx commented on #37
if request sent as `{{server}}/api/v1/boards?filter[id][=]=1` then PHP itself parses it as this
![image](https://user-images.githubusercontent.com/10420662/32531983-06b2fc4e-c458-11e7-8684-fb9c5f63ce91.png)
I believe in order PHP to parse it as we expect it should be URL encoded which I'm going to check

[2017-11-08 04:43] neomerx commented on #37
Yep, that's the issue. If you URL encode it before and send `{{server}}/api/v1/boards?filter[id][%3D]=1` it will work just fine
![image](https://user-images.githubusercontent.com/10420662/32532047-900dfd18-c458-11e7-9377-980267ce5c41.png)

![image](https://user-images.githubusercontent.com/10420662/32532084-d0626f66-c458-11e7-9804-60985e5cddd5.png)

[2017-11-08 05:39] dreamsbond commented on #37
ya. personally, i prefer eq over '=' as what you said of '%3D' issue :)

[2017-11-14 09:26] dreamsbond opened #38 "[PHP 7.2] count(): Parameter must be an array or an object that implements Countable"
There was a error statement in nginx log stating

[code]
It should be fine running limoncello app as observed, but would like to know if it should be ignore at anytime.

[2017-11-14 09:29] dreamsbond commented on #35
though having subfolder usage on limoncello app was not a good practice.

but i observed there was a trailing "/" slash problem:

- http://domain.com/a-app is not accessible to the application view
- while http://domain.com/a-app/ can

is there any workaround on it?

[2017-11-14 10:05] neomerx commented on #38
it should check for `null` before calling `count`

[code]

[2017-11-14 10:15] neomerx commented on #38
hmm.... strangely but on my machine, it's totally OK to call `count` on `null`
![image](https://user-images.githubusercontent.com/10420662/32774506-8e2f1268-c93d-11e7-945f-e1366e5fc45d.png)

Can you try to change the code to the following and check if it fixes the issue on your machine? What PHP version do you use?

[code]

**UPD** the PHP [documentatino](http://php.net/manual/en/function.count.ph

[2017-11-14 10:21] neomerx commented on #35
adding a trailing slash is a quite common question. Here are a couple of first googled links
https://www.scalescale.com/tips/nginx/add-trailing-slash-nginx/
https://serverfault.com/questions/376162/how-can-i-create-a-location-in-nginx-that-works-with-and-without-a-trailing-slas

[2017-11-14 10:29] neomerx commented on #38
It looks you're using 7.2
[Upgrading notes say](https://github.com/php/php-src/blob/php-7.2.0RC4/UPGRADING)

Only arrays and objects implementing the Countable interface should be passed.

so `null` no longer a valid input

[2017-11-14 11:28] neomerx commented on #38
This issue is a part of a bigger issue with testing tools. They are just not ready yet for PHP 7.2.
For example, if I run tests for one of the components `Mockery` fails with the same error. So it's not possible to run the test on PHP 7.2 at the moment.

[code]

[2017-11-14 11:32] neomerx commented on #38
My bad :smile: I've updated mockery and it seems to work fine now.

[code]

I'll check all the components on PHP 7.2

[2017-11-14 11:51] dreamsbond commented on #38
oh sorry, my bad.
i recently upgraded to 7.2

[2017-11-14 11:52] dreamsbond commented on #38
should i downgrade to 7.1 for the time being, somehow a same testing environment?

[2017-11-14 12:09] dreamsbond commented on #38
the warning was gone, just tested

[2017-11-14 12:11] neomerx commented on #38
That was the only place where the code was incompatible with PHP 7.2. All the rest is totally fine with PHP 7.2. I've just pushed the fix to github and it will become part of the release soon.

So you can change that only piece of code and wait for the next release.

[2017-11-20 12:21] dreamsbond opened #39 "Custom sets of querybuilder"
I am going to apply some spatial query by doctrine to the database.
is it possible to build a custom sets of query builder.
something like those 'withFilter' etc...
where should i start with and where is the standardized location for putting those custom query builder.

for example. ST_WITHIN... etc...

[2017-11-20 22:05] neomerx commented on #39
You have a few options for building your query.

### Pure Doctrine
[code]

### Customize CRUD

In API class you can reuse query building functionality from CRUD as
[code]

[2017-11-21 03:29] dreamsbond commented on #39
is there any agreed location where we put the custom query helper function?

[2017-11-21 10:28] neomerx commented on #39
I think best place would be API class such as [this](https://github.com/limoncello-php/app/blob/develop/server/app/Api/CommentsApi.php)

[2017-11-21 19:17] neomerx commented on #29
I think I've fixed the issue (currently it's the last known one). Here is [an example](https://github.com/limoncello-php/app/blob/a4d945c7fd76f3511ce7ab052fe5b285eaf23520/server/app/Web/Controllers/BoardsController.php#L39-L48) how to validate/sanitize/convert query inputs. The example above uses it for date-times, however other types such as `bool`, `int` and etc are also supported.

[2017-11-21 19:32] #38 closed, assigned to neomerx

[2017-11-22 06:21] dreamsbond commented on #35
having tried to create custom config and create database connection,
- the container configurator set up properly
- A custom class "AnotherConnection" extended the generic DBAL Connection Class

all these steps works found.

but i found the return connection object  still capturing the .env config settings.

[2017-11-22 07:21] dreamsbond commented on #35
reproduce the issue as follow:

- created a "services" folder under "server"
- autoloaded "Services" namespace in composer.json
```"Services\\": "server/services/",```
- create new class AnotherDoctrineSettings implements SettingsInterface as like as DoctrineSettings in
[code]
- created new class AnotherDoctrine extends AnotherDoctrineSettings with custom config '.env.another.doctrine'
[code]
[cod

[2017-11-22 07:38] dreamsbond commented on #35
sorry, i found i shall change those 'DB_' suffixed environment variable to another one like 'DB_OAUTH_'... etc..
isnt' it?

[2017-11-22 10:10] neomerx commented on #35
I see you're trying to emulate built-in class. Custom classes do not need to support all doctrine connection possibilities and are not needed to be extensible as standard settings. So it can be significantly simplified.

1) Custom second connection (for simplicity I put it into `Container` folder however you should find a better place for it)

[code]

2) Settings for it

[code]
3) Container config

[2017-11-22 10:14] neomerx commented on #35
isnt' it?

You're free to use any prefixes you like :wink: And btw do you really need to put second file path into env variable? Can it be just set in settings?

[2017-12-07 15:08] dreamsbond opened #40 "File upload handling flow and sample code"
I am still having difficult on handling file upload in limoncello-app during the general crud.
can you provide sample code for it?

[2017-12-07 19:09] neomerx commented on #40
This is really moslty about plain HTML and PSR7, but that's a solution below.

Create a folder for uploads `server/storage/uploads`.

Add HTML element for file upload, for example, in `server/resources/views/pages/en/boards.html.twig`

[code]

And add the corresponding method `create` to controller `\App\Web\Controllers\BoardsController`
- Register the handler in `\App\Routes\WebRoutes`

[code]

-

[2017-12-08 06:41] dreamsbond commented on #40
thanks for your sample code and guideline
if in case i am creating a record to the api along with the file uploading?

the same case to capture uploaded files by the ServerRequestInterface $request in api routes?

[2017-12-08 11:55] neomerx commented on #40
Yes, you're likely to use API to associate the file with the current user, keep original name and rename to guarantee file name to be unique in your file storage. However, unlike the sample above file name should not be predictable but *long and random* otherwise, it's easy to iterate through all of them.

Yes, API and Web routes both use PSR-7, so file uploads work identically. You just replace t

[2017-12-12 10:20] dreamsbond commented on #40
trying out the your guildeline handling file.
seems on the right track.
thanks!

[2017-12-12 10:20] #40 closed, assigned to neomerx

[2017-12-12 10:21] dreamsbond opened #41 "Polymorphic Relations"
Is it possible to implement the Polymorphic Relations in limoncello-php app?

just like the one in laravel does.
https://laravel.com/docs/5.5/eloquent-relationships#polymorphic-relations

[2017-12-12 12:03] neomerx commented on #41
Such relationships are supported by Limoncello as `Many-to-Many` relationships.

Laravel example
[code]

Could be implemented in Limoncello as
[code]

Such features as CRUD including filters would work out of the box.

[2017-12-12 12:43] dreamsbond commented on #41
how does the limoncello present the use of

[code]

in other way, say "attachments" as a scenario.
- teachers and students upload attachments.
- attachable_id holds the id of teacher id or student id depends on the logged user type;
- attachable_type holds the model entity say, "Teacher" and "Student" to identity the attachments belongs to;

so  one table "attachments" could hold polymorphic relat

[2017-12-12 13:45] neomerx commented on #41
Limoncello does not use `xxx_id` and `xxx_type` pairs to connect tables in a database but plain intermediate tables which provide [ACID](https://en.wikipedia.org/wiki/ACID) features which 'columns' approach cannot do.

If you have `Student`, `Teacher` and `Attachment` models database structure could be

[code]

[2017-12-19 07:05] dreamsbond commented on #39
followed by putting:

[code]

into the api

i can make the geometry column returns textual string (WKT), e.g.: POINT(105.665049 13.390277) from mysql binary

i found it was fine at first.

but later i would have to put this kind of declaration in every api class where geometry presents

is there any generic way to make it in BaseApi class?

besides,

i have another problems handling geometry colum

[2017-12-20 09:51] neomerx commented on #39
I'm currently in the process of refactoring `ModelQueryBuilder` to make adding conditions to both fields and relationships super flexible. Hopefully, it will be ready tomorrow so we can get back to this issue.

[2017-12-20 10:21] dreamsbond commented on #39
[code]

as i will implement much more spatial field filtering on the application.
is it possible the extend the FilterParameter class and put some virtual filter, kind of spatial filter, say 'within', 'contains' functions?

[2017-12-20 13:43] dreamsbond commented on #39
look forward to new ModelQueryBuilder ~~!!

[2017-12-21 19:53] neomerx commented on #39
Hi, I just published 0.8.5 which adds some very useful methods to [ModelQueryBuilder](https://github.com/limoncello-php/framework/blob/master/components/Flute/src/Adapters/ModelQueryBuilder.php) and now you can build any conditions in relationships limited only by Doctrine abilities.

The most important method is `createRelationshipAlias(string): string` which accepts relationship name and returns

[2017-12-22 04:13] dreamsbond commented on #39
tried a bit of the new ModelQueryBuilder
really great having flexible injection adding complex filters

[2017-12-22 04:29] dreamsbond commented on #39
in mean time,
i am still facing an issue.

the addSelect does not reflect in the relationship route as well as the include.

scenario:
- i have an geometry column which is a POINT type in MySQL;
- the geometry was something in the binary format, e.g.: "0000000001010000002CD32F116F7A5C40CC9717601F693640"
- what i am going to do, creating a custom class extending the doctrine type from creof/doctrin

[2017-12-22 07:23] neomerx commented on #39
Sure. However, I need to understand what are you trying to achieve.

I think I understand first 3 bullets: you use one the [spatial](https://dev.mysql.com/doc/refman/5.7/en/spatial-type-overview.html) data types and have corresponding PHP/Doctrine type.

What I don't understand is next 3 bullets. You override `createIndexModelBuilder` and what you do there is adding a new column wrapped with SQL f

[2017-12-22 07:34] neomerx commented on #39
Mapper should be a bit different. Default mapper is set [here](https://github.com/limoncello-php/framework/blob/a36db7e0efda7f2f4b0a6e68a7b3d814f9d605bb/components/Flute/src/Adapters/ModelQueryBuilder.php#L102). As you [can see](https://github.com/limoncello-php/framework/blob/a36db7e0efda7f2f4b0a6e68a7b3d814f9d605bb/components/Flute/src/Adapters/ModelQueryBuilder.php#L444-L447) it just adds alias

[2017-12-22 08:01] dreamsbond commented on #39
yes, i did the part above  you mentioned

[2017-12-22 08:11] dreamsbond commented on #39
thanks for indicating this method, i did not think of. really thanks. i will try it out.

meanwhile, i am struggling on how to make it generic to detect the type of geometry object, says it was 'limoncelloPoint', check against

[code]
i am thinking and try overriding those "fetch" prefixed method, say "fetchResources", but at last i found some private method

[2017-12-22 08:50] neomerx commented on #39
take types from `Model::getAttributeTypes()`, take type by column name then compare.

[2017-12-22 08:59] dreamsbond commented on #39
overriding the individual api class constructor returning "Call to a member function withColumnMapper() on null"

any hints to resolve?

[2017-12-22 13:26] neomerx commented on #39
That's likely something on your side.

For example `\App\Api\PostsApi`, both notations work as expected

[code]

[2017-12-22 15:42] dreamsbond commented on #39
after removing vendor folder and composer update again.
the error gone.

thanks.
is the columnMapper covers relationship as well?
for example, both includes and relationship

[2017-12-22 18:51] neomerx commented on #39
I don't know what kind of problem with relationships, you might have. Let me know in case of any issues.

[2017-12-23 01:49] dreamsbond commented on #39
the scheme (jsonapi) returns value was not beings "ASTEXT"

call in relationship route and include queryparameter.

let me try to figure it out

[2017-12-25 07:51] neomerx opened #42 "ON VACATION till January 15 2018"
Happy holidays!

I'll have limited access to emails and likely no ability to write any code.

[2017-12-27 01:17] dreamsbond commented on #42
@neomerx merry christmas and enjoy~!

[2017-12-28 01:54] dreamsbond opened #43 "Notice: Undefined offset 0"
for your information.

for example: /api/v1/halls/h001/relationships/study-rooms
requesting relationship resource with schema type contains "-"(dash) returns above error

[code]

[2017-12-29 07:10] neomerx commented on #43
It invokes abstract method
`getAuthorizationActionAndResourceTypeForRelationship` which is declared
at
https://github.com/limoncello-php/app/blob/5b430480446619240f76a71d01c30d0b449e0935/server/app/Api/BaseApi.php#L32-L36
and it's your responsibility to return valid values.

On 2017-12-28 02:54, dreamsbond wrote:

[2018-01-02 03:33] dreamsbond commented on #43
For `dash` relationship resource;

"api":
[code]
authorization rules:
[code]

It returns

[code]

i think it was likely the 'dashed' relationship name does not properly interpreted.

[2018-01-02 04:18] dreamsbond commented on #43
i have some confusion about the naming convention between model and scheme.
i presume the naming convention of multi-word model field, relationship are with '_' underscore
and '-' dash in scheme
for example. "study room" will be 'study_room' for model and 'study-room' for scheme.

[2018-01-02 04:25] dreamsbond commented on #43
the case above show some hints that requesting "/api/v1/halls/h001/relationships/study-rooms",

the "study-rooms" does not correctly mapped to the model relationship "study_rooms"

and throw "undefined index", am i correct?

[2018-01-02 07:20] neomerx commented on #43
Haven't you missed return for `$pair`?

[2018-01-02 08:06] dreamsbond commented on #43
added return and, still returning undefined index,
i observed that, the "undefined index" tells, the array pair does being recognized by:
[code]
but the type "study-rooms" can not mapped to "study_rooms".

i do another edit, with Model, changing
[code]
 to
[code]

successfully going through getAuthorizationActionAndResourceTypeForRelationship
and return "data" without errors.

so i wonder if it is

[2018-01-02 08:07] dreamsbond commented on #43
i am currently finding the entry of where the mapping from scheme to model does.

[2018-01-15 12:51] #42 closed, assigned to neomerx

[2018-01-16 03:39] dreamsbond commented on #43
@neomerx the issue still remains, could you help?

[2018-01-17 14:54] neomerx commented on #43
@dreamsbond Hi, you should tell API to use model relationship names but not Schema ones. Sorry, it was my bug. Fixed in [this commit](https://github.com/limoncello-php/app/commit/a897f132fcba169d655895ca9a923a57110bf189).

[2018-01-18 09:49] dreamsbond commented on #43
sorry, finally got to know there was some stupid things on my code :p...

[2018-01-29 08:14] #43 closed, assigned to neomerx

[2018-03-02 04:02] dreamsbond opened #44 "Updating Resource with non-numeric primary key"
@neomerx I am confused about updating resource that are not with numeric primary key.

for example "roles"

i could not get the primary id changed.

[2018-03-04 20:47] neomerx commented on #44
What do you mean by "get the primary id changed"? Change it in "update" operation?

[2018-03-04 21:08] neomerx commented on #44
If you try to change the primary key value in an update operation you may bump into an SQL issue. That's what I got
[code]
Output

[2018-03-05 02:00] dreamsbond commented on #44
yes, get primary id changed by "update" operation

i got exactly same foreign key constraint error in MySQL operation.

in general "PATCH" operation, i  have no place to update the id, says from "users" to "moderators".. etc.

is it possible to do the update of non-numeric primary id by patch?

[2018-03-05 09:13] neomerx commented on #44
If you tell me how to do it in SQL then I can tell what do to in the framework. Currently, I have a feeling that it would be an SQL limitation.

A generic answer would be that limoncello can call an SQL stored procedure on the update which does all the changes.

[2018-03-05 10:12] dreamsbond commented on #44
agree. it is a very underlying problem. not limoncello. sorry for my stupid question :(

i think it is not easy to do it, isn't it?
i think i should think change the primary key from non-numeric to numeric for easier workaround

[2018-03-05 10:49] neomerx commented on #44
If you can do it easily in a 'standard/typical' way then why not?

Limoncello supports stored procedures on SQL migrations and API levels. If you already have a stored procedure it could be called from API like below

[code]

Then a corresponding method should be added to `Controller` with a route in `Routes`. I think it's a rather typical approach.

[2018-03-06 08:33] dreamsbond opened #45 "Undefined token in Api Tests"
Hi @neomerx.

I found the OAuthLoginTrait does not properly returning token based on corresponding role of user, says "admin", etc...

[2018-03-06 11:56] neomerx commented on #45
Default application uses [Faker](https://github.com/fzaninotto/Faker) to populate the database with some data. The data are originally random though until you change seed script it will have
- 'kurt.murray@berge.biz' as an admin email
- 'ybins@yahoo.com' as a moderator email
- 'denesik.stewart@gmail.com' as a user email

And [here](https://github.com/limoncello-php/app/blob/9da46f0bf739f49a3754050

[2018-03-11 10:37] dreamsbond commented on #45
[code]

tested out $token was not assigned
in
[code]
and therefore getAdminOAuthToken failed

[2018-03-12 07:26] neomerx commented on #45
What are the inputs (username, password)? Does it work with the default app?

[2018-03-12 11:46] dreamsbond commented on #45
both default faker seeded username and password and;
self-defined username and password works by

replacing
[code]
with
[code]

in OAuthLoginTrait

[2018-03-12 20:32] neomerx commented on #45
I took default app, run migration and seed then changed `CommentApiTest` line 13 as below and added lines 22-23. Token seems to work :man_shrugging:

![image](https://user-images.githubusercontent.com/10420662/37307935-803cba1c-264d-11e8-8dd8-463b905168f8.png)

Can you please clone the default app and commit changes that show the issue?

[2018-03-14 14:50] dreamsbond commented on #45
default app cloned.

seems does not help.

[code]

![image](https://user-images.githubusercontent.com/26112605/37409670-d44a11a8-27d9-11e8-8918-211dd4e1c69d.png)

![image](https://user-images.githubusercontent.com/26112605/37409718-f70bca24-27d9-11e8-917b-aff77c77331a.png)

![image](https://user-images.githubusercontent.com/26112605/37409764-14835d74-27da-11e8-85c0-457bba18cdad.png)

[2018-03-15 08:23] Nizari opened #46 "Create Composer Fails"
[code]

[2018-03-15 09:30] neomerx commented on #46
Hmm... I've just run `composer create-project --prefer-dist limoncello-php/app app_name` and it was OK. Maybe old composer? My version
[code]

![image](https://user-images.githubusercontent.com/10420662/37454803-92eb6e78-284c-11e8-9458-73d152a64138.png)

[2018-03-15 09:35] neomerx commented on #46
:smile: Well, it's easier. Have a look at the log closely

http://php.net/manual/en/book.intl.php

[2018-03-15 09:50] neomerx commented on #45
- I created a new project `composer create-project --prefer-dist limoncello-php/app app_name` (on install it runs migrations and seeds).
- I opened the newly created project in IDE and run tests successfully.
- opened `\Tests\Api\UserApiTest::testIndex`, added use for `OAuthLoginTrait` and `$token = $this->requestOAuthToken('kurt.murray@berge.biz', UsersSeed::DEFAULT_PASSWORD);`
- put a breakpoint

[2018-03-15 10:39] dreamsbond opened #47 "Issue of having "Object of class Limoncello\Validation\Rules\Generic\AndOperator could not be converted to string" exception"
@neomerx  could you give some hints when siutation will this exception throws?

![image](https://user-images.githubusercontent.com/26112605/37458539-45df0944-2880-11e8-8574-7260d9c0ed6c.png)

[2018-03-15 11:21] neomerx commented on #47
Never had such one. I think you've experimented with validation rules. If you provide me with the changes you've made I'll try to add some asserts there so it would be easier to diagnose such issues.

Some background info what this thing is doing. Before controller is called the app reads all the validation rules and transforms them into an array. The array can be cached (and limoncello can do tha

[2018-03-15 14:10] dreamsbond commented on #47
i applied a custom validation rules which are written quite a long time ago:

[code]
which are used for check uniqueness of the field with two scenario,

with create, check uniqueness against whole table
with update, check uniqueness with corresponding primary key;

custom service interface written:
[code]

and service written

[code]
by adding a container configurator into the Container folder:

[2018-03-15 15:21] neomerx commented on #47
I need more info to help. Currently, all I got is '_I have a problem with converting a class instance to string. Somewhere. After unknown changes. Even without the exception stack trace.'_ Can you please post at least exception stack trace?

[2018-03-16 11:55] dreamsbond commented on #47
i think i had foundwhere the issue was.

i am putting
return r::userId(); as
return r::equals(r::userId());

[2018-03-21 06:04] dreamsbond opened #48 "JsonApiQueries validation"
with Schema::REL_NAME assigned to getFilterRules which come with r::asSantizedString();

I found if i try invalid to test validation, like with "#" as prefix, the validation throws
[code]
[code]

[2018-03-21 10:00] neomerx commented on #48
Validation rule `asSanitizedString` is defined [here](https://github.com/limoncello-php/app/blob/9da46f0bf739f49a37540500b40f55143bf3d0cd/server/app/Validation/Rules/BaseRules.php#L133-L135) and does 2 things: firstly it checks input is a string and then applies [filter_var](http://php.net/manual/en/function.filter-var.php) with `FILTER_SANITIZE_FULL_SPECIAL_CHARS`

If you have `#something` as an

[2018-04-03 11:38] dreamsbond opened #49 "ReadQuery implementing JsonApiQueryRulesInterface"
do you have some hints on enabling sparse fieldset?

[code]
does not show sparse fieldset by fields[users]=id,name

outputting:

[code]

[2018-04-03 11:48] dreamsbond commented on #49
return null on getFilterRules(), getFieldSetRules() does allow all field to be filterable and selective
but how to define specific fields?

[2018-04-05 13:49] neomerx commented on #49
Hi, sorry for late reply. I've been fully busy recent days.

It looks you're trying 0.9.x, right?

If it returns `null` it allows any inputs (no check), if it returns empty array `[]` it means `nothing allowed`, if it returns an array with `['field-name' => $rule]` only listed fields are allowed (e.g. 'field-name').

[2018-04-05 13:52] neomerx commented on #49
Also you might be confusing JSON `fields` with `fieldsets`. The method you need is method `getFilterRules` but not `getFieldSetRules`

[2018-04-05 14:20] neomerx commented on #49
I've reproduced it locally and looking closer at it at the moment.

[2018-04-05 14:43] neomerx commented on #49
That's a bug. Sorry, that's on my side. I didn't pay enough attention to this feature.

Firstly as the [spec says](http://jsonapi.org/format/#fetching-sparse-fieldsets) it is possible to have multiple fieldsets. Currently, it implies fieldset rules only for the main type.

So `getFieldSetRules` should look like

[code]

**UPDATE** I've modified the code above and it should work with current versio

[2018-04-05 15:08] dreamsbond commented on #49
Oh. Yes. I misused the syntax filter query rules on
spare  fieldset rule.

And thanks for the update of multiple sparse fieldset rules!

[2018-04-05 15:12] dreamsbond opened #50 "Use of jsonapi on mobile apps"
I know it should not be covered in whether or not to use jsonapi as back-end in mobile apps.

Like Android or ios

But I really want to seek for your opinion @neomerx that will jsonapi be a right backend for it?

Will it be a bit too complex and clumsy on the structures and size of the data returns.

[2018-04-05 15:58] #49 closed, assigned to neomerx

[2018-04-05 16:08] neomerx commented on #50
In my opinion, JSON API is very good for mobile apps. You've mentioned 2 concerns:
- complex data structures
- data size

JSON API makes it possible to have multiple data types in one response with relationships between them. Why is this important? Because you can have just one request-response for complex data. If an app uses simple data structures it will need more than one request. For mobile,

[2018-04-05 16:43] dreamsbond commented on #50
I have discussed with some Android and iOS developers
They were hesitate to work with jsonapi as the back-end.
They do not think jsonapi were not good enough to work with majority on the parsing and attributes, and relationship mapping on the front-end, where they used to work with native json structures.

For sure. I really love jsonapi. It brings me a very rigid database schema and full crud cap

[2018-04-05 18:18] neomerx commented on #50
You should separate technical issues from human ones. You shouldn't be surprised that not all people like to learn. JSON API could be as simple as plain JSON. Just give them 20 line JS that does the job an make them happy.

[2018-04-06 08:45] dreamsbond opened #51 "relationship link for belongsTo relationship"
for hasMany / belongsToMany relationship, link was shown as:

[code]

but for belongsTo relationship, link was shown as:
[code]

where link of either "self" or "related"
like "/api/v1/posts/1/relationships/user" and "/api/v1/posts/1/user" were not reachable, returning 404.

is it possible to trigger the link to be reachable?

[2018-04-06 08:47] dreamsbond commented on #51
or is it possible to return like, for example:
[code]

[2018-04-06 09:51] neomerx commented on #51
1) How to make it 'reachable'? Add it to routes with the corresponding handler in the controller. For [example](https://github.com/limoncello-php/app/blob/9da46f0bf739f49a37540500b40f55143bf3d0cd/server/app/Routes/ApiRoutes.php#L56).

2) How to customize `links` section and exclude `related`? You've got a few options to do that

Turn it off by default for all relationships
[code]

Or exclude speci

[2018-04-06 10:43] dreamsbond commented on #51
Thanks!

[2018-04-06 12:43] dreamsbond opened #52 "Controller readRelationship"
having read the readRelationship, to my understanding.
looks like it get relationship data directly without pass through the api authorization.

[code]

if i got to restrict the access of a resource, how do i make it?

[2018-04-06 14:35] neomerx commented on #52
Default low level API methods do not call auth by themselves. You as a developer to decide where you need auth and what kind of and where you don't.

I recommend adding a method to API such as `readPutYourRelationshipNameHere` and add auth check there. Here is an [example](https://github.com/limoncello-php/app/blob/9da46f0bf739f49a37540500b40f55143bf3d0cd/server/app/Api/PostsApi.php#L90-L98)

[2018-04-06 15:50] dreamsbond commented on #52
Yes but seems authorizer there does not have effect

[2018-04-06 15:50] #52 closed, assigned to neomerx

[2018-04-06 16:21] neomerx commented on #52
It depends on how you implement the actual auth logic. In this [example](https://github.com/limoncello-php/app/blob/9da46f0bf739f49a37540500b40f55143bf3d0cd/server/app/Authorization/PostRules.php#L45-L50) it allows the action for all, but in [this one](https://github.com/limoncello-php/app/blob/9da46f0bf739f49a37540500b40f55143bf3d0cd/server/app/Authorization/PostRules.php#L57-L62) only logged in

[2018-04-06 16:23] dreamsbond commented on #52
Yes. I did. But the authroizer does not have effect in fork

[2018-04-06 16:24] neomerx commented on #52
Can you please provide an example?

[2018-04-06 16:25] neomerx commented on #52
Add a breakpoint in the policy to make sure you actually call it and try to return `false`.

[2018-05-14 08:22] baseer opened #53 "PATCH vs POST on a relationship endpoint"
I see here a function that can be used to update a relationship endpoint: https://github.com/limoncello-php/framework/blob/master/components/Flute/src/Http/JsonApiBaseController.php#L282-L313

However, there are two different use cases in the json api, PATCH vs POST as defined here: http://jsonapi.org/format/#crud-updating-to-many-relationships

Basically PATCH is supposed to replace all members o

[2018-05-14 11:14] neomerx commented on #53
Currently, relationships (both `to-one` and `to-many`) could be updated as described in [Updating a Resource’s Relationships](http://jsonapi.org/format/#crud-updating-resource-relationships)

For example,
[code]

You can send one or more relationships to update.

Updates in a way you linked currently is not supported out of the box, though, I beleive, are possible with lower level methods. I'll ke

[2018-07-26 14:07] #53 closed, assigned to neomerx

[2018-09-07 01:40] dreamsbond opened #55 "usage of oauth-scope-approval"
APPROVAL_URI and ERROR_URI constant are pointed to "oauth-scope-approval"

i would like to know the usage implementing this route.

please help

[2018-09-07 09:09] dreamsbond commented on #55
besides, i cannot find where the client_secret to set and get

please could you help?

[2018-09-07 10:24] neomerx commented on #55
Do you mean [KEY_APPROVAL_URI_STRING](https://github.com/limoncello-php/framework/blob/bcbd96f19adfb4c2999b494c777633282fcc8402/components/Contracts/src/Settings/Packages/PassportSettingsInterface.php#L32-L35)? After a 3rd party server redirects a user to limoncello server it should show the user a list of scopes/rights/permissions requested by the 3rd party server. The user can a) accept all requ

[2018-09-07 10:34] neomerx commented on #55
It's called `clientCredentials`. You can set the value on when create a client. By default it is verified with
PHP `password_verify` method in `\Limoncello\Passport\Integration\BasePassportServerIntegration::verifyClientCredentials` so it is expected to be password hash made by default PHP methods. Though you can replace `verifyClientCredentials` with custom implementation and store anything you w

[2018-09-10 03:39] dreamsbond commented on #55
sorry. i found i was still confused about the setting in code grant basis on limoncello-app

to my understanding :
1. i got 2 limoncello-app (A&B), A as a resource owner (http://localhost:8001), B as a authentication server (http://localhost)
2. authorize via the http://localhost/authorize?client_id=default_client&redirect_url=http://localhost:8001
3. get me to "APPROVAL_URI"
4. any errors in betw

[2018-09-10 12:41] dreamsbond commented on #55
i think there was no route and method being implemented for KEY_APPROVAL_URI_STRING which defaults to "oauth-scope-auth" for approving request, as laravel passport do.

Will you consider putting similar view/interface in limoncello-app?

[2018-09-11 06:55] dreamsbond commented on #55
i search through the limoncello app and framework, still cannot locate the method for Authorization Response. can you help?

[2018-09-11 08:38] neomerx commented on #55
I haven't tried to use limoncello in this scenario. Is it possible for you to publish a test project where I can test it and made necessary changes in the framework?

[2018-09-11 11:43] dreamsbond commented on #55
Another thing I observed is that. While I am doing code grant authorization. I can make authorize request at /authorize endpoint. But I have no where to generate a authorization code thru oauth-scope-approval. Is there some where I could do similar to authenticateByUserId. So then I could proceed to get the token from /token endpoint.

[2018-09-12 16:59] neomerx commented on #55
@dreamsbond I'm extremely busy this week and most of the next week. If you create a test project with 2 folders `client` and `server` each of them configured as an OAuth client and OAuth server and show me where you've got an issue I think it can be quickly fixed.

[2018-09-20 06:57] dreamsbond commented on #55
after a more deeper looked into the framework, i wrote a few lines to create authorization code as:
https://github.com/dreamsbond/app/blob/dd3dbf0368069b91bea5ca2959546bc7ce49e434/server/app/Web/Controllers/AuthController.php#L205-L237

![image](https://user-images.githubusercontent.com/26112605/45800434-7c12b900-bce3-11e8-86b8-e250f079e543.png)

![image](https://user-images.githubusercontent.com/

[2018-09-20 16:30] neomerx commented on #55
I'll help you. I'm creating a simple client and a server that work with OAuth. Though I cannot help as quickly as I usually do as I'm very busy until the end of the month, however, I hope I should get some time in the evenings.

[2018-09-20 17:06] dreamsbond commented on #55
I think I start managed to work with the client (webpack) and linkage between the view and twig.

But I still was not yet managed to work with managing scopes and make approval thru client like in laravel passport. It beyond my understanding to the code in current stage. I will try look more deeper between limoncello app and framwork. Hope to get more inspiration.

[2018-09-20 18:15] neomerx commented on #55
This branch was not field tested so don't worry at the moment that you don't understand it. It's likely not to be as it should be. I'm currently looking into this issue and making tweaks here and there to make code authorization sensible.

[2018-09-20 21:00] neomerx commented on #55
I have an initial version (very very beta really) of a server and a client.

If you run the server and login
![image](https://user-images.githubusercontent.com/10420662/45846150-b99d3380-bd2f-11e8-851d-b315c7d5b9fb.png)

and then open the client in a separate tab
![image](https://user-images.githubusercontent.com/10420662/45846204-de91a680-bd2f-11e8-920a-310795521e3e.png)

when you click the login

[2018-09-21 02:15] dreamsbond commented on #55
thanks @neomerx. it is helpful to me to learn how to cope with the code and flow.
i will go and checkout your update, hope to catch them up very soon.

[2018-09-21 02:43] dreamsbond commented on #55
oh sorry, i didn't read your message properly. i just thought your update was there.
will be good if you don't mind sharing the codes in current stage so that i could try to catch and follow from scratch.

[2018-09-21 19:18] neomerx commented on #55
Hi, I've added some code to the client and it seems to work (still very very beta). After you click `Confirm` you will be redirected back to client and the client will exchange the auth code to tokens

![image](https://user-images.githubusercontent.com/10420662/45901617-3261c580-bdec-11e8-84bc-32ce03ffed02.png)

the code is here https://github.com/neomerx/demo-oauth-server

[2018-09-21 19:19] neomerx commented on #55
The code has 2 commits

- Initial commit (2 default Limoncello apps).
- Server and client code added.

[2018-09-24 02:36] dreamsbond commented on #55
i am currently following your demo,

in the meantime, i looked into the method "setRedirectUriStrings()",
setRedirectUriStrings was obsolete, redirect uri can only be effective thru $this->seedClient

for you information

[2018-10-02 18:33] neomerx commented on #55
September is over and I finally have a better schedule.

Back to `setRedirectUriStrings` this method is used to optimize reading clients. If you look at the database schema you will see that a client has relationships with other tables and data from those tables. Optimizations available for MySQL and PostgreSQL make it possible to read all data in one database query. [Here](https://github.com/limo

[2018-10-03 10:02] dreamsbond commented on #55
besides the setRedirectUriStrings that i am look on.

I got problems redirecting to login page where user were not logged in.

here are the snippet:

[code]

thru the methods in ControllerTrait;

I got an error there:

[code]

I am going to make the redirect with a query parameter say "code_login=true", if the login checked code_login was present, it will pass to createAskResourceOwnerForApprovalR

[2018-10-03 10:30] dreamsbond commented on #55
try out hardcoding uri

snippet:
[code]
and
[code]

works as expected but ugly to get redirection...

[2018-10-03 10:36] dreamsbond commented on #55
another question in mind.

the authorization code granted will be permanent or temporary?

[2018-10-03 19:45] neomerx commented on #55
By default grant would be for 3600 seconds, then it should be prolonged with the refresh token.

The issue with making redirect URL is that you try to use `ControllerTrait` not from a controller but from middleware.

To remind you that a request goes through

app start -> container configurator 1 -> ... -> container configurator N -> middleware 1 -> ... -> middleware N -> Controller

then response

[2018-10-04 13:41] dreamsbond commented on #55
i have just updated my fork, followed your guideline and works.

i have another question. i am still curious about how limoncello(client) knows the user authenticated is eligible to access the protected resource? the fingerprint wasn't persist in limoncello(client). and roles or scopes of limoncello(client) may also varies to the oauth authentication server; limoncello (server)

[2018-10-04 13:57] neomerx commented on #55
The client knows the scopes allowed for that user. Having that knowledge client's developer can program the app accordingly.

The knowledge about the scope may come from places
- any client has a default scope set
- when a client gets token from the server it may have scope list (in case it was changed by the user and do not match the default set)

[2018-10-04 14:08] dreamsbond commented on #55
but on limoncello (client), i can see the validateScope is doing for scopes checking. but i checked that the oauth_token table behind do not have entry at all.

[2018-10-04 20:53] neomerx commented on #55
`validateScope` works with own scopes (client's which are not used) but you use auth/scopes of the server.

Since you use a server to auth, issue tokens, provide API and etc, the client only gets a token and use the server. The server itself check scopes, permissions and etc.

When a client requests a token it knows it asks for permissions to do actions `A`, `B`, `C` and etc. The developer of the

[2018-10-05 12:08] dreamsbond commented on #55
I see. So the code grant approval achieved the delegation to access the protected resources in limoncello (server).

How would this associate with the limoncello (client) to access its local protected resource?

[2018-10-06 16:05] neomerx commented on #55
You can use the same approach we used in google auth. You can get from the server 'verified' email of the current user and then use the email to sign-in the user locally on the client so all security features of the client will be available for you.

[2018-10-06 16:40] dreamsbond commented on #55
let me try it out.

[2018-10-30 11:29] dreamsbond commented on #55
Everything goes good except the part I do for accessing local resource. Is there any google/apiclient alike library which is not point to google?

[2018-10-31 13:10] neomerx commented on #55
What do you mean by that?

[2018-11-01 04:14] dreamsbond commented on #55
You mentioned about
**You can use the same approach we used in google auth. You can get from the server 'verified' email of the current user and then use the email to sign-in the user locally on the client so all security features of the client will be available for you.**

In case i am using google oauth, it is fine to use the library "google/apiclient". How about using the limoncello (client)?

[2018-11-01 13:11] neomerx commented on #55
I meant you can receive user's email from limoncello server (either with the token or from a separate request) and then use this email to issue a local token.

We did that with Google. When we got the user's email from Google it was used to check local Limoncello database and issue our own token for the user.

[2018-11-01 14:24] dreamsbond commented on #55
will it risky though?

[2018-11-02 03:01] dreamsbond commented on #55
The payload was verified by the google/apiclient,
[code]
If in case i am not using google/apiclient, there will be a missing step on verifying the token and further to email verification. Am i correct?

[2018-11-07 08:56] neomerx commented on #55
Of course, Google client works only with Google.

[2018-11-07 09:04] neomerx commented on #55
This is callback method which will be called by Limoncello server. You will receive a token and **any** optional data. On the server side, you can add to the token any data such as email, name, phone number and whatever you wish. So getting user email might look like
[code]

[2018-11-07 09:07] neomerx commented on #55
[This method](https://github.com/limoncello-php/app/blob/264c76af5d703f74db8da89cb7cadaf9f992d368/server/app/Authentication/OAuth.php#L113-L136) adds custom properties to a token

[2018-11-07 09:08] dreamsbond commented on #55
that is what i am confused. how could the callbacks knows the request was being verified if i am not using google/apiclient to verify.

[2018-11-07 09:09] dreamsbond commented on #55
the google/apiclient did a check
[code]

[2018-11-07 09:16] neomerx commented on #55
I might need to create an example for that...

[2018-11-07 09:30] dreamsbond commented on #55
i mean how callback know it is a valid request and not someone pretended to be a valid request

[2019-01-21 10:00] dreamsbond opened #57 "how would i access the extra column of the pivot table?"
i am having a pivot table which store an extra column in boolean indicating whether to email notification shall be send to the user.

Could you tell how to access the pivot table column?

[2019-01-21 11:12] neomerx commented on #57
In API class you either call `$this->createBuilder($modelClass)` or `$this->getConnection()->createQueryBuilder()`, apply filters and then `$this->fetchResources($builder, $modelClass)` or `fetchResource` or `fetchRow`.

`$this->getConnection()->createQueryBuilder()` is low-level function which could be used if only table name and columns known, if model (with columns/relationships/etc) is set up

[2019-01-21 12:02] dreamsbond commented on #57
So I will have to add a new (viruual) field in model and attribute in scheme?

How do achieve this? Like virtual password?

[2019-01-22 03:42] dreamsbond commented on #57
could you provide a working sample of accessing extra column in pivot table?

[2019-01-22 04:17] dreamsbond commented on #57
or literally, how do i make use of the API class to achieve reading from and writing into pivot table column (other than the foreign key).

i.e.:
[code]

[2019-01-22 09:43] neomerx commented on #57
What signature the method should have? `getProjectNotificationEmails(int $projectId): array`?

It might be something like this

[code]

[2019-01-22 10:11] dreamsbond commented on #57
got it, but i don't understand the linkage, that is how it can be accessed as an attribute in schema at the end.

[2019-01-22 10:35] neomerx commented on #57
Can you quote the part you have difficulties with?

[2019-01-22 11:01] dreamsbond commented on #57
i have no idea where exactly the place in API class to start with.
i guess it should be do by overriding the builderOnIndex()

[code]

[2019-01-22 11:02] dreamsbond commented on #57
where the builder added the "ProjectMember::FIELD_EMAIL_NOTIFICATION" column in the result set.
and i dun know how to make it accessible in ProjectSchema.

[2019-01-22 11:04] dreamsbond commented on #57
it looks like i have to do the same overriding on builderOnRead as well, as to include the "ProjectMember::FIELD_EMAIL_NOTIFICATION" column in the result set.

seems crumsy by the way.

[2019-01-22 11:08] dreamsbond commented on #57
or i just override the createIndexModelBuilder...

[2019-01-22 11:28] neomerx commented on #57
I think you don't need to override anything. I've added an additional condition for `EXTRA_COLUMN_EMAIL_NOTIFICATION` column. Just put the sample to API class and adopt for your class names.

[2019-01-23 09:43] dreamsbond commented on #57
this is what i schema looks like.
[code]

what i want to achieve is to have a attribute says
[code]
in json-api output

this column is created in pivot table "projects_members". a pivot table joining table "projects" and table "users".

the "enable_email_notification" is a field in table "projects_members".

[2019-01-23 13:27] neomerx commented on #57
I think I understand you. It doesn't work this way because you want to add an extra column either to a project or to a user. But it's a bad idea because in some responses your project/users will have different columns and even worse that value for "enable-email-notification" in user depends on the project it refers to. What you really need is to have a separate model for project notification. It's

[2019-01-23 13:31] neomerx commented on #57
I would just have a separate table `project_notifications` with columns
- project_notification_id
- project_id
- user_id
- timestamps

If there is a record in this table then it means "enable-email-notification": true, if not then false. Then it will be just a pivot table and you can have project->notifications relationship to users and no extra JSON API entity needed.

[2019-01-23 13:44] neomerx commented on #57
Adding and removing in a relationship is quite easy to add

in Routes it might look like
[code]

and in the controller

[code]

[2019-01-24 12:10] dreamsbond commented on #57
Picked ur suggestion. Ya. Seperating table was right way. Works and thanks so much.

For addInRelationship, I am not quite understanding how it is used in together with separating table. Could you elaborate more?

[2019-01-24 12:11] dreamsbond commented on #55
Could u provide an example for limoncello app to limoncello app authorization code grant usage?

[2019-01-25 09:49] neomerx commented on #57
It was a continuation of my post about `project_notifications` where the row existence means that user should be notified. With predefined methods `addInRelationship` and `deleteInRelationship` you can easily add support for adding/removing elements from the relationship.

[2019-01-26 07:13] dreamsbond commented on #57
Got it, thanks

[2019-01-31 12:45] dreamsbond opened #58 "Approach to do password reset in limoncello app"
Could you suggest an approach handling password reset in limoncello app?

[2019-01-31 12:48] dreamsbond commented on #58
I mean forgot password which user was unable to change password with authorized token

[2019-02-01 12:33] neomerx commented on #58
What kind of help do you need? Find a method that sets a password for a given user?

[2019-02-14 02:23] dreamsbond commented on #58
changing user password require authorized user token.
so how would a user forget their password and need to reset it by themself.

[2019-02-14 17:07] neomerx commented on #58
I've added a [method to API for password reset](https://github.com/limoncello-php/app/blob/84f34d6ca940853052e9b748f26ff5eabfc4d04b/server/app/Api/UsersApi.php#L149). Sample [usage](https://github.com/limoncello-php/app/blob/84f34d6ca940853052e9b748f26ff5eabfc4d04b/server/tests/Api/UserApiTest.php#L33-L56).

[2019-05-21 10:13] dreamsbond opened #59 "Does limoncello support NoSQL, like mongoDB?"
Curious if limoncello supports mongoDB.

[2019-05-22 08:00] neomerx commented on #59
Limoncello uses DBAL to work with databases. A list of supported databases by DBAL is [here](https://www.doctrine-project.org/projects/doctrine-dbal/en/2.9/reference/platforms.html). Thus, if you have [MongoDB](https://www.php.net/manual/en/set.mongodb.php) installed you can either use it directly or with a wrapper such as [Doctrine MongoDB](https://github.com/doctrine/mongodb).

Technically, it w

[2019-05-24 12:18] dreamsbond commented on #59
Thanks!

[2019-05-24 12:18] #59 closed, assigned to neomerx

[2019-05-24 12:21] dreamsbond opened #60 "Use of different JS framework over webpack"
Would their be a guide to follow on how to transit the client from webpack to other JS framework say Angular or EmberJS?

[2019-05-28 07:52] neomerx commented on #60
Webpack is only used to compile TS and SCSS files and there are no dependencies between the client and the server. The current client is more like 'look, that is a simple hello-world style client app'. So feel free to use any of the frameworks.